@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>This is the about us page created using Dotnet MVC Application building Environment.</p>
    <br/>
    <table align="center">

        <tr style="text-align: left; ">
            <td>Name</td>
            <td>&nbsp; :</td>
            <td sty> &nbsp; Yash Parekh</td>
        </tr>

        <tr style="text-align: left; ">
            <td>Department</td>
            <td>&nbsp; :</td>
            <td>&nbsp; CSE</td>
        </tr>

        <tr style="text-align: left; ">
            <td>Year</td>
            <td>&nbsp; :</td>
            <td>&nbsp; 3rd</td>
        </tr>

        <tr style="text-align: left; ">
            <td>Roll No</td>
            <td>&nbsp; :</td>
            <td>&nbsp; 512044</td>
        </tr>

        
        <tr style="text-align: left; ">
            <td>PRN</td>
            <td>&nbsp; :</td>
            <td>&nbsp; 2019033800127384</td>
        </tr>



        

    </table>

</div>
